#title {
    background-color: #fff;
    color: #000000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

#mix {
    width: 70%;
    padding-left: 30px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.lbtn {
    margin: 5% 3% 5% 0;
}

.rrow {
    margin: 130px 0 0 15px;
}

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 400;
}

p {
    color: #8f8f8f;
}

i {
    margin-bottom: 40px;
}

i:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: black;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}

#testimonials h2 {
    margin-bottom: 50px;
}

#testimonials em {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}

#press {
    background-color: black;
    text-align: center;
    padding-bottom: 3%;
}

#press img {

}

.plogo {
    
}