#title {
    background-color: #fff;
    color: #000000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#mix {
    width: 600px;
    height: 600px;
}

.navbar-brand {
    font-weight: bold;
}

